:root{
    --dark: #374151;    
    --darker: #1f2937;    
    --darkest: #111827;    
    --grey: #687280;    
    --pink: #CC4899;    
    --light: #EEE;    
    --purple: #8B5Cf6;    
}
*{
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
    font-family: 'fira sans', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--dark);
    color: #fff;
}
header{
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    
}

header h1{
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--grey);
    margin-bottom: 1rem;
}
#new_task_form{
    display: flex;
}
input, button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
}
#new_task_input{
    flex: 1 1 0%;
    background-color: var(--darker);
    padding: 0.6rem;
    width: 500px;
    color: var(--light);
    border-radius: 1rem;
    margin-right: 1rem;
    font-size: 1.25rem;
}
#new_task_submit{
    color: var(--pink);
    font-size: 1.25rem;
    cursor: pointer;
    font-weight:700;
    background-image: linear-gradient(to right,  var(--pink), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

#new_task_submit:hover{
opacity: 0.8;
}

#new_task_submit:active{
    opacity: 0.8;
    
}
main{
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    flex: 1 1 0%;
}
.text_list{
    padding: 1rem;
}
.h3{
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--grey);
    margin-bottom: 1rem;
}
.task{
    display: flex;
    justify-content: space-between;
    background-color: var(--darkest);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}
.content{
    flex: 1 1 0%;
}
.content .text{
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: 0.4s;
    color: var(--light);
}
.content .text:not(:read-only){
    color: var(--pink)
}
.actions{
    display: flex;
    margin: 0 -0.5rem;
}
.actions button{
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}
.actions button:hover{
    opacity: 0.8;
}
.actions button:active{
    opacity: 0.8;
}
.actions .edit{
    background-image: linear-gradient(to right,  var(--pink), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.actions .delete{
    color: crimson;
}